{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/magazine.css' %}">
  <link rel="stylesheet" href="{% static 'css/magazine_detail.css' %}">
  
{% endblock css %}

{% block body %}

<div class="container">
  <div class="m-5 d-flex justify-content-center" style="flex-direction: column">
    <!-- Title -->
    <h1 style="text-align: center">{{ magazine.title }}</h1>
    <form action="{% url 'magazine:mzbookmark' magazine.pk %}" method='POST'>
      {% csrf_token %}

      {% if request.user in magazine.bookmark_users.all %}
        <button id="bookmark-btn" data-magazine-id="{{magazine.pk}}" type="button" class='btn btn-danger'>북마크 취소</button>
      {% else %}
        <button id="bookmark-btn" data-magazine-id="{{magazine.pk}}" type="button" class='btn btn-warning'>북마크</button>
      {% endif %}
    </form>
    <a href="{% url 'accounts:profile' magazine.user.username %}" class="d-flex justify-content-end" style="font-size: 25px;">
      <p style="font-size: 20px; padding-top: 5px; padding-right: 10px;" class="text-muted m-0">
        <span style="font-size: 14px;">{{ magazine.created_at|date:'Y-m-d' }}</span>
        Editor</p>
      <span style="padding-top: 5.5px;">{{ magazine.user }}</span>
    </a>

    <!-- Update, Delete Button -->
    {% if magazine.user == request.user %}
      <div class="mt-2 d-flex justify-content-end">
        <span>
          <a href="{% url 'magazine:update' magazine.pk %}" class='btn' style="margin-right: 14px; width: 70px; height: 30px; background-color: #cfd3e1; color: white;">수정</a>
        </span>
        <span>
          <form action="{% url 'magazine:delete_magazine' magazine.pk %}" method='POST'>
            {% csrf_token %}
            <input type="submit" class='btn' style="width: 70px; height: 30px; background-color: #d94141; color: white;" value='삭제'>
          </form>
        </span>
      </div>
    {% endif %}

    <!-- Content -->
    <div class="mt-4">
      {{magazine.content | safe }}
    </div>

  </div>
</div>

<!--댓글 작성-->
<div style='padding-bottom:5rem; background-color: #ebebeb;'>
  <div class="mzdetail-comment-create container">
    <p class="mzdetail-comment-title">댓글 작성</p>
    <form action="" method="POST" class="mzdetail-comment-form" data-mag-id="{{ magazine.pk }}">
      <div class="mzdetail-comment-input-box">
        {% csrf_token %}
        <div>
          <p style="color:#757d89;">댓글 작성</p>
          {% render_field mzcomment_form.content class="mzdetail-comment-write form-control" placeholder='댓글 작성' add_required_class="is-required" %}
        </div>
        <div style="margin-top: 1rem;">
          <p style="color:#757d89;">평점</p>
          {% render_field mzcomment_form.grade class="mzdetail-comment-rate form-control" placeholder='댓글평점' add_required_class="is-required" %}
        </div>
      </div>
      <input class="mzbtn-detail-comment" type="submit" value="Submit">
    </form>
  </div>
  <div style="background-color:#ebebeb;">
    <div class="mzdetail-comment-box container">
      {% for comment in mzcomments %}
      <div class="mzdetail-comment">
        <div class="mzdetail-comment-detail">
          <div class="d-flex flex-column">
            <a href="{% url 'accounts:profile' comment.user.username %}" class="mzdetail-comment-user">{{ comment.user }}</a>
            {% if request.user == comment.user %}
            <div style="margin-top:10px; display:flex">
              <p class="mzdetail-comment-update" onclick="comment_update(this)" id="okBtn-{{ comment.pk }}" data-magup-id="{{ magazine.id }}" data-commentup-id="{{ comment.pk }}">수정</p>
              <p class="mzdetail-comment-delete" onclick="comment_delete(this)" id="comment-delete-{{ comment.pk }}" data-magdel-id="{{ magazine.id }}" data-commentdel-id="{{ comment.pk }}" style="margin-left: 1.5rem;">삭제</p>
            </div>
            {% endif %}
          </div>
          <div class="mzdetail-comment-review">
            <div class="mzdetail-comment-review-okBtn-{{ comment.pk }} review-comment-update-{{ comment.pk }}" style="display:block;">
              <p class="mzdetail-comment-rate">{{ comment.get_grade_display }}</p>
              <p class="mzdetail-comment-content">{{ comment.content }}</p>
              <p class="mzdetail-comment-time">{{ comment.created_at }}</p>
              
              <div class="reply-box">
                <div class="replies">
                {% for reply in comment.reply_set.all %}
                  <div class="reply-info">
                    <a href="{% url 'accounts:profile' reply.user.username %}" class="replies-user"><span style="margin-right:1rem">↳</span>{{ reply.user }}</a>
                    <p class="replies-content"><span style="margin-right: 0.7rem;">|</span>{{ reply.content }}</p>
                    {% if request.user == reply.user %}
                    <a href="{% url 'magazine:reply_delete' magazine.pk comment.pk reply.pk %}" class="replies-delete">삭제하기</a>
                    {% endif %}
                  </div>
                {% endfor %}
                </div>
                
                <div class="reply">
                  <p class="reply-show">답글 달기</p>
                  <form action="{% url 'magazine:reply_create' magazine.pk comment.pk %}" method="POST" style="">
                    {% csrf_token %}
                    {% render_field reply_comment.content class="reply-write form-control" placeholder='답글 작성' style='height: 40px; width: 100%; margin-bottom: 0.5rem;' %}
                    <input class="mzbtn-reply" type="submit" value="답글 게시">
                  </form>
                </div>
              </div>
            
            </div>

            {% if request.user == comment.user %}
            <form class="mzcomment-update-form form-comment-update-{{ comment.pk }}" id="form-comment-update-okBtn-{{ comment.pk }}" action="{% url 'card:comment_update' magazine.id comment.pk %}" method="post" style="display:none">
              {% csrf_token %}
              <div class="mzcomment-update-form-style">
                <select class="mzcomment-update-rate" id="comment-update-rate-{{ comment.pk }}" value="{{ comment.grade }}">
                  <option selected value="{{ comment.grade }}">{{ comment.get_grade_display }}</option>
                  <option value="1">⭐</option>
                  <option value="2">⭐⭐</option>
                  <option value="3">⭐⭐⭐</option>
                  <option value="4">⭐⭐⭐⭐</option>
                  <option value="5">⭐⭐⭐⭐⭐</option>
                </select>
                <input class="mzcomment-update-content" id="comment-update-input-{{ comment.pk }}" type="text" value="{{ comment.content }}">
                <div class="d-flex">
                  <p class="mzcomment-control-update" onclick="comment_update_ok(this)" id="comment-update-ok-{{ comment.pk }}" data-magup-id="{{ magazine.id }}" data-commentup-id="{{ comment.pk }}">수정 완료</p>
                  <p class="mzcomment-control-update-exit ms-3" onclick="comment_update_exit(this)" id="comment-update-{{ comment.pk }}">취소</p>
                </div>
              </div>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock body %}

{% block script %}
  <!-- 북마크 비동기 처리 -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const bookmarkBtn = document.querySelector('#bookmark-btn')

    bookmarkBtn.addEventListener('click', function (event) {
      console.log(event.target.dataset)
      axios({method: 'get', url: `/magazine/${event.target.dataset.magazineId}/mzbookmark/`}).then(res => {
        console.log(res)
        if (res.data.is_bookmarked === true) {
          bookmarkBtn.innerHTML = '북마크 취소'
        } else {
          bookmarkBtn.innerHTML = '북마크'
        }
      })
    })

      // 댓글 생성 비동기
  const commentForm = document.querySelector('.mzdetail-comment-form') 
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  commentForm.addEventListener('submit', function(event) {
    event.preventDefault();
    axios({
      method: 'post',
      url: `/magazine/${event.target.dataset.magId}/mzcomment_create/`,
      headers: {
        'X-CSRFToken': csrftoken
      },
      data: new FormData(commentForm)
    }).then(response => {
      
      const comments = document.querySelector(".mzdetail-comment-box")
      comments.textContent= ""
      const commentData = response.data.commentData
      const user = response.data.user
      const mzId = response.data.mzId
      const replyData = response.data.replyData

      for (let i = 0 ; i < commentData.length; i++) {

        let grade = commentData[i].grade

        if (grade === '1') {
          grade = '⭐'
        } else if (grade === '2') {
          grade = '⭐⭐'
        } else if (grade === '3') {
          grade = '⭐⭐⭐'
        } else if (grade === '4') {
          grade = '⭐⭐⭐⭐'
        } else if (grade === '5') {
          grade = '⭐⭐⭐⭐⭐'
        }

        // 댓글을 저장한 유저가 댓글의 user_id와 같을 때
        if (user === commentData[i].user_id) {
        comments.insertAdjacentHTML('beforeend', `
        <div class="mzdetail-comment">
          <div class="mzdetail-comment-detail">
            <div class="d-flex flex-column">
              <a href="/accounts/profile/${commentData[i].userName}/" class="mzdetail-comment-user">${ commentData[i].userName }</a>
              <div style="margin-top:10px; display:flex">
                <p class="mzdetail-comment-update" onclick="comment_update(this)" id="okBtn-${ commentData[i].comment_id }" data-magup-id="${ mzId }" data-commentup-id="${ commentData[i].comment_id }">수정</p>
                <p class="mzdetail-comment-delete" onclick="comment_delete(this)" id="comment-delete-${ commentData[i].comment_id }" data-magdel-id="${ mzId }" data-commentdel-id="${ commentData[i].comment_id }" style="margin-left: 1.5rem;">삭제</p>
              </div>
            </div>
            <div class="mzdetail-comment-review">
              <div class="mzdetail-comment-review-okBtn-${ commentData[i].comment_id } review-comment-update-${ commentData[i].comment_id }" style="display:block;">
                <p class="mzdetail-comment-rate">${ grade }</p>
                <p class="mzdetail-comment-content">${ commentData[i].content }</p>
                <p class="mzdetail-comment-time">${ commentData[i].create }</p>

                <div class="reply-box">
                  <div class="replies-${ i }">
                  </div>
                  
                  <div class="reply">
                    <p class="reply-show">답글 달기</p>
                    <form action="/magazine/${ mzId }/reply_create/${ commentData[i].comment_id }/" method="POST" style="">
                      <textarea name="content" cols="40" rows="10" style="height: 40px; width 100%; margin-bottom: 0.5rem;" placeholder="답글 작성" class="reply-write form-control" id="id_content" required></textarea>
                      <input class="mzbtn-reply" type="submit" value="답글 게시">
                    </form>
                  </div>
                </div>

              </div>
              <form class="mzcomment-update-form form-comment-update-${ commentData[i].comment_id }" id="form-comment-update-okBtn-${ commentData[i].comment_id }" action="/magazine/${ mzId }/mzcomment_update/${ commentData[i].comment_id }/" method="post" style="display:none">
                <div class="mzcomment-update-form-style">
                  <select class="mzcomment-update-rate" id="comment-update-rate-${ commentData[i].comment_id }" value="${ commentData[i].grade }">
                    <option selected value="${ commentData[i].grade }">${grade}</option>
                    <option value="1">⭐</option>
                    <option value="2">⭐⭐</option>
                    <option value="3">⭐⭐⭐</option>
                    <option value="4">⭐⭐⭐⭐</option>
                    <option value="5">⭐⭐⭐⭐⭐</option>
                  </select>
                  <input class="mzcomment-update-content" id="comment-update-input-${ commentData[i].comment_id }" type="text" value="${ commentData[i].content }">
                  <div class="d-flex">
                    <p class="mzcomment-control-update" onclick="comment_update_ok(this)" id="comment-update-ok-${ commentData[i].comment_id }" data-magup-id="${ mzId }" data-commentup-id="${ commentData[i].comment_id }">수정 완료</p>
                    <p class="mzcomment-control-update-exit ms-3" onclick="comment_update_exit(this)" id="comment-update-${ commentData[i].comment_id }">취소</p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        `
        )} else {
          comments.insertAdjacentHTML('beforeend', `
          <div class="mzdetail-comment">
            <div class="mzdetail-comment-detail">
              <div class="d-flex flex-column">
                <a href="/accounts/profile/${commentData[i].userName}/" class="mzdetail-comment-user">${ commentData[i].userName }</a>
              </div>
              <div class="mzdetail-comment-review">
                <div class="mzdetail-comment-review-okBtn-${ commentData[i].comment_id } review-comment-update-${ commentData[i].comment_id }" style="display:block;">
                  <p class="mzdetail-comment-rate">${ grade }</p>
                  <p class="mzdetail-comment-content">${ commentData[i].content }</p>
                  <p class="mzdetail-comment-time">${ commentData[i].create }</p>

                  <div class="reply-box">
                    <div class="replies-${ i }">
                    </div>
                    
                    <div class="reply">
                      <p class="reply-show">답글 달기</p>
                      <form action="/magazine/${ mzId }/reply_create/${ commentData[i].comment_id }/" method="POST" style="">
                        <textarea name="content" cols="40" rows="10" style="height: 40px; width 100%; margin-bottom: 0.5rem;" placeholder="답글 작성" class="reply-write form-control" id="id_content" required></textarea>
                        <input class="mzbtn-reply" type="submit" value="답글 게시">
                      </form>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          `
          )
        }

        const replies = document.querySelector(`.replies-${ i }`)
        replies.textContent = ""

        if (replyData[i].length > 0) {

          for (let j = 0 ; j < replyData[i].length ; j++) {

            console.log(replyData[i][j].reply_content)
            
            // 대댓글을 단 사람이랑 현재 로그인을 한 사람의 pk가 동일할 때
            if (replyData[i][j].reply_user_id === user) {
              replies.insertAdjacentHTML('beforeend', `
              <div class="reply-info">
                  <a href="/accounts/profile/${ replyData[i][j].reply_user }/" class="replies-user"><span style="margin-right:1rem">↳</span>${ replyData[i][j].reply_user }</a>
                  <p class="replies-content"><span style="margin-right: 0.7rem;">|</span>${ replyData[i][j].reply_content }</p>
                  <a href="/magazine/${ mzId }/${ commentData[i].comment_id }/reply_delete/${ replyData[i][j].reply_comment_id }/" class="replies-delete">삭제하기</a>
              </div>
              `)
            } else {
              replies.insertAdjacentHTML('beforeend', `
                <div class="reply-info">
                  <a href="/accounts/profile/${ replyData[i][j].reply_user }/" class="replies-user"><span style="margin-right:1rem">↳</span>${ replyData[i][j].reply_user }</a>
                  <p class="replies-content"><span style="margin-right: 0.7rem;">|</span>${ replyData[i][j].reply_content }</p>
                </div>
                `)
            }
          }
        }

      }
    })
    commentForm.reset()
  })

  // 댓글 삭제 비동기
  const comment_delete = (e) => {
    console.log(e.id)
    const comment_id = document.querySelector(`#${e.id}`).id

    axios({
      method: 'post',
      url: `/magazine/${event.target.dataset.magdelId}/mzcomment_delete/${event.target.dataset.commentdelId}/`,
      headers: {
        'X-CSRFToken': csrftoken
      }
    }) .then(response => {
      console.log(response.data)
      const comments = document.querySelector(".mzdetail-comment-box")
      comments.textContent= ""
      const commentData = response.data.commentData
      const user = response.data.user
      const mzId = response.data.mzId
      const replyData = response.data.replyData

      for (let i = 0 ; i < commentData.length; i++) {

        let grade = commentData[i].grade

        if (grade === '1') {
          grade = '⭐'
        } else if (grade === '2') {
          grade = '⭐⭐'
        } else if (grade === '3') {
          grade = '⭐⭐⭐'
        } else if (grade === '4') {
          grade = '⭐⭐⭐⭐'
        } else if (grade === '5') {
          grade = '⭐⭐⭐⭐⭐'
        }

        if (user === commentData[i].user_id) {
          comments.insertAdjacentHTML('beforeend', `
          <div class="mzdetail-comment">
            <div class="mzdetail-comment-detail">
              <div class="d-flex flex-column">
                <a href="/accounts/profile/${commentData[i].userName}/" class="mzdetail-comment-user">${ commentData[i].userName }</a>
                <div style="margin-top:10px; display:flex">
                  <p class="mzdetail-comment-update" onclick="comment_update(this)" id="okBtn-${ commentData[i].comment_id }" data-magup-id="${ mzId }" data-commentup-id="${ commentData[i].comment_id }">수정</p>
                  <p class="mzdetail-comment-delete" onclick="comment_delete(this)" id="comment-delete-${ commentData[i].comment_id }" data-magdel-id="${ mzId }" data-commentdel-id="${ commentData[i].comment_id }" style="margin-left: 1.5rem;">삭제</p>
                </div>
              </div>
              <div class="mzdetail-comment-review">
                <div class="mzdetail-comment-review-okBtn-${ commentData[i].comment_id } review-comment-update-${ commentData[i].comment_id }" style="display:block;">
                  <p class="mzdetail-comment-rate">${ grade }</p>
                  <p class="mzdetail-comment-content">${ commentData[i].content }</p>
                  <p class="mzdetail-comment-time">${ commentData[i].create }</p>
  
                  <div class="reply-box">
                    <div class="replies-${ i }">
                    </div>
                    
                    <div class="reply">
                      <p class="reply-show">답글 달기</p>
                      <form action="/magazine/${ mzId }/reply_create/${ commentData[i].comment_id }/" method="POST" style="">
                        <textarea name="content" cols="40" rows="10" style="height: 40px; width 100%; margin-bottom: 0.5rem;" placeholder="답글 작성" class="reply-write form-control" id="id_content" required></textarea>
                        <input class="mzbtn-reply" type="submit" value="답글 게시">
                      </form>
                    </div>
                  </div>
  
                </div>
                <form class="mzcomment-update-form form-comment-update-${ commentData[i].comment_id }" id="form-comment-update-okBtn-${ commentData[i].comment_id }" action="/magazine/${ mzId }/mzcomment_update/${ commentData[i].comment_id }/" method="post" style="display:none">
                  <div class="mzcomment-update-form-style">
                    <select class="mzcomment-update-rate" id="comment-update-rate-${ commentData[i].comment_id }" value="${ commentData[i].grade }">
                      <option selected value="${ commentData[i].grade }">${grade}</option>
                      <option value="1">⭐</option>
                      <option value="2">⭐⭐</option>
                      <option value="3">⭐⭐⭐</option>
                      <option value="4">⭐⭐⭐⭐</option>
                      <option value="5">⭐⭐⭐⭐⭐</option>
                    </select>
                    <input class="mzcomment-update-content" id="comment-update-input-${ commentData[i].comment_id }" type="text" value="${ commentData[i].content }">
                    <div class="d-flex">
                      <p class="mzcomment-control-update" onclick="comment_update_ok(this)" id="comment-update-ok-${ commentData[i].comment_id }" data-magup-id="${ mzId }" data-commentup-id="${ commentData[i].comment_id }">수정 완료</p>
                      <p class="mzcomment-control-update-exit ms-3" onclick="comment_update_exit(this)" id="comment-update-${ commentData[i].comment_id }">취소</p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          `
          )} else {
            comments.insertAdjacentHTML('beforeend', `
            <div class="mzdetail-comment">
              <div class="mzdetail-comment-detail">
                <div class="d-flex flex-column">
                  <a href="/accounts/profile/${commentData[i].userName}/" class="mzdetail-comment-user">${ commentData[i].userName }</a>
                </div>
                <div class="mzdetail-comment-review">
                  <div class="mzdetail-comment-review-okBtn-${ commentData[i].comment_id } review-comment-update-${ commentData[i].comment_id }" style="display:block;">
                    <p class="mzdetail-comment-rate">${ grade }</p>
                    <p class="mzdetail-comment-content">${ commentData[i].content }</p>
                    <p class="mzdetail-comment-time">${ commentData[i].create }</p>
  
                    <div class="reply-box">
                      <div class="replies-${ i }">
                      </div>
                      
                      <div class="reply">
                        <p class="reply-show">답글 달기</p>
                        <form action="/magazine/${ mzId }/reply_create/${ commentData[i].comment_id }/" method="POST" style="">
                          <textarea name="content" cols="40" rows="10" style="height: 40px; width 100%; margin-bottom: 0.5rem;" placeholder="답글 작성" class="reply-write form-control" id="id_content" required></textarea>
                          <input class="mzbtn-reply" type="submit" value="답글 게시">
                        </form>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
            `
          )
        }

        const replies = document.querySelector(`.replies-${ i }`)
        replies.textContent = ""

        if (replyData[i].length > 0) {

          for (let j = 0 ; j < replyData[i].length ; j++) {

            console.log(replyData[i][j].reply_content)
            
            // 대댓글을 단 사람이랑 현재 로그인을 한 사람의 pk가 동일할 때
            if (replyData[i][j].reply_user_id === user) {
              replies.insertAdjacentHTML('beforeend', `
              <div class="reply-info">
                  <a href="/accounts/profile/${ replyData[i][j].reply_user }/" class="replies-user"><span style="margin-right:1rem">↳</span>${ replyData[i][j].reply_user }</a>
                  <p class="replies-content"><span style="margin-right: 0.7rem;">|</span>${ replyData[i][j].reply_content }</p>
                  <a href="/magazine/${ mzId }/${ commentData[i].comment_id }/reply_delete/${ replyData[i][j].reply_comment_id }/" class="replies-delete">삭제하기</a>
              </div>
              `)
            } else {
              replies.insertAdjacentHTML('beforeend', `
                <div class="reply-info">
                  <a href="/accounts/profile/${ replyData[i][j].reply_user }/" class="replies-user"><span style="margin-right:1rem">↳</span>${ replyData[i][j].reply_user }</a>
                  <p class="replies-content"><span style="margin-right: 0.7rem;">|</span>${ replyData[i][j].reply_content }</p>
                </div>
                `)
            }
          }
        }

      }
    })
  }

    const comment_update_ok = (e) => {
    const commentId = event.target.dataset.commentupId
    const magId = event.target.dataset.magupId
    const commentInput = document.querySelector(`#comment-update-input-${commentId}`)
    const gradeInput = document.querySelector(`#comment-update-rate-${commentId}`)

    axios({
      method: 'post',
      url: `/magazine/${ magId }/mzcomment_update/${ commentId }/`,
      headers: {
        'X-CSRFToken': csrftoken
      },
      data: {
        'content': commentInput.value,
        'grade' : gradeInput.value
      }
    }) .then(response => {
      const comments = document.querySelector(".mzdetail-comment-box")
      comments.textContent= ""
      const commentData = response.data.commentData
      const user = response.data.user
      const mzId = response.data.mzId
      const replyData = response.data.replyData

      for (let i = 0 ; i < commentData.length; i++) {

        let grade = commentData[i].grade

        console.log(grade)

        if (grade === '1') {
          grade = '⭐'
        } else if (grade === '2') {
          grade = '⭐⭐'
        } else if (grade === '3') {
          grade = '⭐⭐⭐'
        } else if (grade === '4') {
          grade = '⭐⭐⭐⭐'
        } else if (grade === '5') {
          grade = '⭐⭐⭐⭐⭐'
        }

        if (user === commentData[i].user_id) {
          comments.insertAdjacentHTML('beforeend', `
          <div class="mzdetail-comment">
            <div class="mzdetail-comment-detail">
              <div class="d-flex flex-column">
                <a href="/accounts/profile/${commentData[i].userName}/" class="mzdetail-comment-user">${ commentData[i].userName }</a>
                <div style="margin-top:10px; display:flex">
                  <p class="mzdetail-comment-update" onclick="comment_update(this)" id="okBtn-${ commentData[i].comment_id }" data-magup-id="${ mzId }" data-commentup-id="${ commentData[i].comment_id }">수정</p>
                  <p class="mzdetail-comment-delete" onclick="comment_delete(this)" id="comment-delete-${ commentData[i].comment_id }" data-magdel-id="${ mzId }" data-commentdel-id="${ commentData[i].comment_id }" style="margin-left: 1.5rem;">삭제</p>
                </div>
              </div>
              <div class="mzdetail-comment-review">
                <div class="mzdetail-comment-review-okBtn-${ commentData[i].comment_id } review-comment-update-${ commentData[i].comment_id }" style="display:block;">
                  <p class="mzdetail-comment-rate">${ grade }</p>
                  <p class="mzdetail-comment-content">${ commentData[i].content }</p>
                  <p class="mzdetail-comment-time">${ commentData[i].create }</p>
  
                  <div class="reply-box">
                    <div class="replies-${ i }">
                    </div>
                    
                    <div class="reply">
                      <p class="reply-show">답글 달기</p>
                      <form action="/magazine/${ mzId }/reply_create/${ commentData[i].comment_id }/" method="POST" style="">
                        <textarea name="content" cols="40" rows="10" style="height: 40px; width 100%; margin-bottom: 0.5rem;" placeholder="답글 작성" class="reply-write form-control" id="id_content" required></textarea>
                        <input class="mzbtn-reply" type="submit" value="답글 게시">
                      </form>
                    </div>
                  </div>
  
                </div>
                <form class="mzcomment-update-form form-comment-update-${ commentData[i].comment_id }" id="form-comment-update-okBtn-${ commentData[i].comment_id }" action="/magazine/${ mzId }/mzcomment_update/${ commentData[i].comment_id }/" method="post" style="display:none">
                  <div class="mzcomment-update-form-style">
                    <select class="mzcomment-update-rate" id="comment-update-rate-${ commentData[i].comment_id }" value="${ commentData[i].grade }">
                      <option selected value="${ commentData[i].grade }">${grade}</option>
                      <option value="1">⭐</option>
                      <option value="2">⭐⭐</option>
                      <option value="3">⭐⭐⭐</option>
                      <option value="4">⭐⭐⭐⭐</option>
                      <option value="5">⭐⭐⭐⭐⭐</option>
                    </select>
                    <input class="mzcomment-update-content" id="comment-update-input-${ commentData[i].comment_id }" type="text" value="${ commentData[i].content }">
                    <div class="d-flex">
                      <p class="mzcomment-control-update" onclick="comment_update_ok(this)" id="comment-update-ok-${ commentData[i].comment_id }" data-magup-id="${ mzId }" data-commentup-id="${ commentData[i].comment_id }">수정 완료</p>
                      <p class="mzcomment-control-update-exit ms-3" onclick="comment_update_exit(this)" id="comment-update-${ commentData[i].comment_id }">취소</p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          `
          )} else {
            comments.insertAdjacentHTML('beforeend', `
            <div class="mzdetail-comment">
              <div class="mzdetail-comment-detail">
                <div class="d-flex flex-column">
                  <a href="/accounts/profile/${commentData[i].userName}/" class="mzdetail-comment-user">${ commentData[i].userName }</a>
                </div>
                <div class="mzdetail-comment-review">
                  <div class="mzdetail-comment-review-okBtn-${ commentData[i].comment_id } review-comment-update-${ commentData[i].comment_id }" style="display:block;">
                    <p class="mzdetail-comment-rate">${ grade }</p>
                    <p class="mzdetail-comment-content">${ commentData[i].content }</p>
                    <p class="mzdetail-comment-time">${ commentData[i].create }</p>
  
                    <div class="reply-box">
                      <div class="replies-${ i }">
                      </div>
                      
                      <div class="reply">
                        <p class="reply-show">답글 달기</p>
                        <form action="/magazine/${ mzId }/reply_create/${ commentData[i].comment_id }/" method="POST" style="">
                          <textarea name="content" cols="40" rows="10" style="height: 40px; width 100%; margin-bottom: 0.5rem;" placeholder="답글 작성" class="reply-write form-control" id="id_content" required></textarea>
                          <input class="mzbtn-reply" type="submit" value="답글 게시">
                        </form>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
            `
          )
        }

        const replies = document.querySelector(`.replies-${ i }`)
        replies.textContent = ""

        if (replyData[i].length > 0) {

          for (let j = 0 ; j < replyData[i].length ; j++) {

            console.log(replyData[i][j].reply_content)
            
            // 대댓글을 단 사람이랑 현재 로그인을 한 사람의 pk가 동일할 때
            if (replyData[i][j].reply_user_id === user) {
              replies.insertAdjacentHTML('beforeend', `
              <div class="reply-info">
                  <a href="/accounts/profile/${ replyData[i][j].reply_user }/" class="replies-user"><span style="margin-right:1rem">↳</span>${ replyData[i][j].reply_user }</a>
                  <p class="replies-content"><span style="margin-right: 0.7rem;">|</span>${ replyData[i][j].reply_content }</p>
                  <a href="/magazine/${ mzId }/${ commentData[i].comment_id }/reply_delete/${ replyData[i][j].reply_comment_id }/" class="replies-delete">삭제하기</a>
              </div>
              `)
            } else {
              replies.insertAdjacentHTML('beforeend', `
                <div class="reply-info">
                  <a href="/accounts/profile/${ replyData[i][j].reply_user }/" class="replies-user"><span style="margin-right:1rem">↳</span>${ replyData[i][j].reply_user }</a>
                  <p class="replies-content"><span style="margin-right: 0.7rem;">|</span>${ replyData[i][j].reply_content }</p>
                </div>
                `)
            }
          }
        }

      }
    })
  } 

  const comment_update = (e) => {
    const commentId = document.querySelector(`#${e.id}`).id
    // 수정을 클릭하면 수정 작성 폼이 보인다
    const commentUpdateForm = document.querySelector(`#form-comment-update-${e.id}`)
    // 그리고 원래 내용은 안 보이게 한다
    const commentForm = document.querySelector(`.mzdetail-comment-review-${ e.id }`)

    if (commentUpdateForm.style.display === 'none') {
      commentUpdateForm.style.display = 'block'
      commentForm.style.display = 'none'
    } else {
      commentUpdateForm.style.display = 'none'
      commentForm.style.display = 'block'
    }
  }

  const comment_update_exit = (e) => {
    // 취소를 누르면 폼을 없앤다
    const commentUpdateForm = document.querySelector(`.form-${e.id}`)
    // 취소를 누르면 원래 내용을 보여준다
    const commentForm = document.querySelector(`.review-${ e.id }`)

    commentUpdateForm.style.display = 'none'
    commentForm.style.display = 'block'
  }
  </script>
{% endblock script %}