
/*=================== Comment================== */

.mzdetail-comment-create{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 4rem;
  border-bottom: solid 1px #828b9747;
}

.mzdetail-comment-title{
  margin: 2rem 0;
  text-align: center;
  font-size: 2rem;
  color: #757d89;
  font-weight: bold;
}

.mzdetail-comment-form{
  display: flex;
  align-items: center;
}

.mzdetail-comment-input-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mzdetail-comment-write{
  height: 78px;
  width: 50vw;
}

.mzdetail-comment-rate{
 width: 20vw;
}

.mzbtn-detail-comment{
  height: 140px;
  margin-left:2rem;
  border-radius: 10px;
  border: 0px;
  color: white;
  background-color: #666e78;
}

.mzbtn-detail-comment:hover{
  background-color: #666e7852;
}

.mzcomment-login{
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  color: #e7effd;
  background-color: #707070;
}

.mzcomment-login:hover{
  cursor: pointer;
  background-color: #e4e4e4;
  color: #91aaff;
}

.mzdetail-comment-detail{
  display: flex;
  margin: 2rem 15% 0;
  padding: 1rem 0;
}

.mzdetail-comment-review{
  width: 75%;
  background-color: #738ffd;
  border-radius: 10px;
  padding: 1rem;
}

.mzdetail-comment-user {
  color:#666e78;
  font-size: 1.2rem;
}

.mzdetail-comment-content{
  margin-bottom: 0.4rem;
  color: white;
  font-size: 1.4rem;
}

.mzdetail-comment-user{
  width: 200px;
}

.mzdetail-comment-time {
  color:#f9f9f98e;
  font-size: 0.8rem;
}

.mzdetail-comment-update,
.mzdetail-comment-delete {
  color: #666e78;
}

.mzdetail-comment-update:hover,
.mzdetail-comment-delete:hover {
  color: #738ffd;
  cursor: pointer;
}

.mzcomment-update-form-style{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mzcomment-update-rate{
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 0.3rem;
  border: 0px;
  color: #738ffd;
}

.mzcomment-update-content{
  width: 90%;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 0px;
  padding: 0.3rem;
  color: #6a717b;
}

.mzcomment-control-update,
.mzcomment-control-update-exit{
  color: white;
}

.mzcomment-control-update:hover,
.mzcomment-control-update-exit:hover{
  color: #6a717b;
  cursor: pointer;
}

/* 대댓글 */
.mzbtn-cancel,
.mzbtn-reply{
  border-radius: 30px;
  background-color: #ffffff00;
  border: 0px;
  font-size : 14px; 
  color: white;
}

.mzbtn-cancel:hover,
.mzbtn-reply:hover{
  color: #6a717b;
  cursor: pointer;
}


.mzbtn-cancel {
  margin-bottom: 0;
  margin-left: 1rem;
}

.reply-show{
  margin-bottom: 0;
  font-size: 14px;
  color: white;
}

.reply-show:hover{
  color: #6a717b;
  cursor: pointer;
}

.reply-info{
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  padding: 5px;
  background: #afc0ffa1;
}

.replies-user,
.replies-content{
  margin-bottom: 0;
  margin-left: 0.5rem;
  font-size: 13px;
  color: white;
}

.replies-user:hover{
  cursor: pointer;
  color: #6a717b;
}

.replies-delete{
  margin-bottom: 0;
  margin-left: 0.5rem;
  font-size: 10px;
  color: white;
}

.replies-delete:hover{
  cursor: pointer;
  color: rgb(255, 121, 121);
}